*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --heading: 'Hind Siliguri', sans-serif;
    --links: 'PT Sans', sans-serif;
}

/* Global */
h1{
    font-family: var(--heading);
    font-weight: 900;
}
h2{
    font-family: var(--heading);
    font-weight: lighter;
    font-size: 1.8rem;
}
img{
    width: 100%;
}
/* header */
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 1em;
}
.toggle-container{
    margin-right: 1em;
}

.sidebar{
    width: 30%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: all 0.3s linear;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    row-gap: 5%;
    overflow: auto;
}
.show-sidebar{
    transform: translate(0);
}

#cross-btn{
    color: red;
    margin-right: 0.5em;
    float: right;
}
/* Menu */
.sidebar h1{
    margin: 0.5em 0;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(1fr);
    row-gap: 1em;
}
ul li{
    color: grey;
    font-weight: bolder;
    font-family: var(--links);
    padding: 0.5em 0;
}

ul li:hover{
    background-color: rgb(201, 201, 201);
    cursor: pointer;
    color: black;
}
ul li:nth-child(3):hover{
    background-color: white;
}
.jeans-category{
    display: none;
    margin-left: 2em;
}
.show-jeans-category{
    display: block;
}
@media(min-width: 900px){
    header{
        display: none;
    }
    .sidebar{
        width: 30%;
        transform: translate(0);
        background-color: white;
        height: 100vh;
        /* border: 1px solid black; */
    }
    .jeans-category{
        margin-left: 5em;
    }
    #cross-btn{
        visibility: hidden;
    }
}

/* Newsletter Modal */
.modal-overlay{
    position: fixed;
    z-index: -100;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-modal{
    z-index: 100;
    visibility: visible;
}
.modal-container{
    background-color: white;
    width: 70%;
    height: 50%;
    text-align: center;
    padding: 1em;
}
.modal-container h1{
    letter-spacing: 0.4rem;
    font-family: var(--heading);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.modal-container h2{
    font-family: var(--heading);
    font-size: 1rem;
    margin-bottom: 1em;
}
#newsletter-cross-btn{
    color: red;
    float: right;
    margin-right: 0.3em;
}
.newsletter-form-container input{
    padding: .8em 0;
    width: 70%;
    border: .5px solid grey;
    margin-bottom: 1em;
}
.newsletter-form-container button[type='submit']{
    border: none;
    background-color: orangered;
    padding: 0.5em 0.4em;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 10rem;
    max-width: 10rem;
}
.newsletter-form-container button[type='submit']:hover{
    cursor: pointer;
    background-color: rgb(252, 96, 40);
}

/* Main */

main{
    margin: 1em;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.img-container{
    background-image: url("../img/jeans.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill; 
    height: 100vh;
    background-size: cover;
}
.img-text{
    font-family: var(--heading);
    color: white;
    padding: 1em;
}
.img-text h1{
    letter-spacing: 0.2em;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}
.img-text h2{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.img-text button{
    background-color: black;
    border: none;
    color: white;
    text-transform: capitalize;
    padding: .8em 2em;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.img-text button:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
/* item display */
.contents{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}
@media(min-width: 900px){
    main{
        margin-top: 0;
        margin-left: 30%;
        padding: 1em;
        width: 65%;
    }
    .contents{
        grid-template-columns: repeat(4,1fr);
    }
}

