* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */

:root {
    --roboto: 'Roboto', sans-serif;
}

.wrapper {
    background-color: black;
    color: white;
}

/* header */

.sidebar {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    color: white;
    font-family: var(--roboto);
    position: fixed;
    top: 0;
}

.icon {
    text-transform: uppercase;
}

.icon-container:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

.icon i {
    display: none;
}

.image {
    display: none;
}

/* navbar responsiveness */

@media(min-width:560px) {
    
    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image {
        display: block;
    }

    .image img {
        width: 100%;
        height: inherit;
    }
    
    .sidebar {
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 10%;
        justify-content: space-between;
        align-items: space-between;
        padding-bottom: 15vh;
    }
}