/* CSS Variables */
:root{
    --faded: rgb(99, 97, 97);
    --font: 'Barlow', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Wrapper class */
.wrapper{
    box-sizing: border-box;
}
/* Navigation Bar */
.bg-change{
    padding: 0.5em;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    border: 1px solid black;
    font-family: var(--font);
    transition: all 0.3s linear;
}
.bg-change:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
}
/* #multi{
    padding: 0.5em;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    border: 1px solid black;
    font-family: var(--font);
    transition: all 0.3s linear;
}
#multi:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
} */
.main-nav{
    margin: 0;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-button{
    /* margin: 1em 0; */
}
.nav-txt{
    float: left;
    padding: 0 0 0 1em;
    font-size: 1.5rem;
}
.nav-links{
    float: right;
    margin-right: 2em;
    margin-left: 1em;
}
.nav-links ul{
    list-style: none;
}
.nav-links ul li{
    padding: 0rem 0.8rem 0.4rem 0.2rem;
    display: inline-block;
}
.nav-links ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.nav-links ul li a:hover{
    color: var(--faded);
}
.main-nav+.container{
    padding: 10px;
}
@media (max-width: 700px){
    nav{
        text-align: center;
    };
}
/* Top Container */

.top-container{
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    background: url('../img/burger.jpg');
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
}

/* Second Box */
.second-box{
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.second-box-a img{
    width: 80%;
    height: 600px;
    float: right;
    padding-right: 3rem;
    border-radius: 5px;
}
.second-box-a{
    font-family: 'Barlow', sans-serif;
}
.second-box-b{
    font-family: 'Barlow', sans-serif;
    float: left;
}
.second-box-b h2{
    margin-left: 35%;
}
.second-box-b h3{
    margin-left: 35%;
    word-spacing: 0.5rem;
}

/* Third Box */

.third-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.third-box-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}
.third-box-a h3{
    margin-left: 7rem;
}
.third-box-b img{
    width: 90%;
    border-radius: 10px;
}

/* Contact */
.contact{
    font-family: 'Barlow', sans-serif;
    width: 60%;
    margin: auto; 
    margin-top: 5rem; 
}
.contact-txt h3{
    font-family: 'Barlow', sans-serif;
    display: block;
    width: auto;
    margin-left: auto;
    font-size: 2rem;
}
.contact-form input,textarea{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    margin: 1rem;
    border-bottom: 1px dashed black;
}
.contact-form input[type=submit]{
    border:none;
    cursor:pointer;
}
.contact-form input[type=submit]:hover{
    background-color:#444;
    color: white;
}

/* Footer */
footer{
    background-color: var(--faded);
    color: white;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width:700px){
    .main-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-container img{
        width: 700px;
    }
    .second-box{
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    }
    .third-box{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}

@media only screen and (max-width: 510px){
    .nav-links ul{
        display: flex;
        flex-direction: column;
    }
}